{% include header.html %}

  <main role="main">
    <div class="container top bg-light mt-3">
      <div class="row">
        <div class="col">
          {% if page.portrait %}
            <img class="img-fluid img-thumbnail rounded float-left mr-3" src="{{ site.baseurl}}/assets/images/portraits/{{ page.portrait }}">
          {% endif %}
          <div class="col-md-12 pt-1">
            <h3>{{ page.name }}</h3>
            {% if page.skill-level %}{{ page.skill-level }} {% endif %}{% if page.phenotype %} {{ page.phenotype }} {% endif%}{{ page.role-name }}{% if page.skill-detail %} ({{ page.skill-detail }}){% endif %}<br>
            <dl class="row">
            {% if page.rank-name %}
              <dt class="col-md-2 mb-0 pl-0">Rank:</dt>
              <dd class="col-md-10 mb-0 pl-0">{{page.rank-name}}</dd>
            {% endif %}
            {% if page.callsign %}
              <dt class="col-md-2 mb-0 pl-0">Callsign:</dt>
              <dd class="col-md-10 mb-0 pl-0">{{page.callsign}}</dd>
            {% endif %}
            {% if page.unit %}
              <dt class="col-md-2 mb-0 pl-0">Vehicle:</dt>
              {% include find-custom.html custom-slug=page.unit-slug %}
              {% if custom %}
                <dd class="col-md-10 mb-0 pl-0"><a href="{{ site.baseurl}}/tro/{{ custom }}">{{page.unit}}</a></dd>
              {% else %}
                <dd class="col-md-10 mb-0 pl-0">{{page.unit}}</dd>
              {% endif %}
            {% endif %}
            {% if page.force %}
              <dt class="col-md-2 mb-0 pl-0">Unit:</dt>
              <dd class="col-md-10 mb-0 pl-0"><a href="{{ site.baseurl}}/forces/{{ page.force-slug }}">{{page.force}}</a></dd>
            {% endif %}
            {% if page.age %}
              <dt class="col-md-2 mb-0 pl-0">Age:</dt>
              <dd class="col-md-10 mb-0 pl-0">{{page.age}}</dd>
            {% endif %}
            {% if page.origin-planet and page.origin-faction != '' %}
              <dt class="col-md-2 mb-0 pl-0">Origin:</dt>
              <dd class="col-md-10 mb-0 pl-0">{{page.origin-planet}} | {{page.origin-faction}}</dd>
            {% endif %}
            {% if page.origin-planet and page.origin-faction == '' %}
              <dt class="col-md-2 mb-0 pl-0">Origin:</dt>
              <dd class="col-md-10 mb-0 pl-0">{{page.origin-planet}}</dd>
            {% endif %}
            {% if page.award-count %}
              <dt class="col-sm-2 mb-0 pl-0">Awards #: </dt>
              <dd class="col-sm-10 mb-0 pl-0">{{page.award-count}}</dd>
            {% endif %}
            {% if page.kill-count %}
              <dt class="col-sm-2 mb-0 pl-0">Kills #: </dt>
              <dd class="col-sm-10 mb-0 pl-0">{{page.kill-count}}</dd>
            {% endif %}
            {% if page.edge-total != 0 %}
              <dt class="col-sm-2 mb-0 pl-0">Edge #: </dt>
              <dd class="col-sm-10 mb-0 pl-0">{{page.edge-current}}/{{page.edge-total}}</dd>
            {% endif %}
            {% if page.xp %}
              <dt class="col-sm-2 mb-0 pl-0">EXP #: </dt>
              <dd class="col-sm-10 mb-0 pl-0">{{page.xp}}</dd>
            {% endif %}
            {% if page.skill-count and page.skill-count > 0 %}
                <dt class="col-sm-2 mb-0 pl-0">Skills: </dt>
                
                <dd class="col-sm-10 mb-0 pl-0">
                {% assign skill_list_json = page.skill-list | parse_json %}
                {% for skill in skill_list_json %}
                  {{ skill.name }}<br/>
                {% endfor %}
                </dd>

              {% endif %}
            </dl>
        </div>
        </div>
      </div>

      <hr>

      {% if page.award-count %}
      <div class="row">
        <div class="col">
          <div class="container">
          <h3>Awards</h3>
          <ul class="mb-0 pl-4">
          {% assign award_list_json = page.award-list | parse_json %}
          {% for award in award_list_json %}
            <li>Awarded <strong>"{{ award.name }}"</strong> on <strong>{{ award.date }}</strong></li>
          {% endfor %}
          </ul>
        </div>
        </div>
      </div>
      <hr>
      {% endif %}

      {% if page.kill-count %}
      <div class="row">
        <div class="col">
          <div class="container">
          <h3>Kills</h3>
          <ul class="mb-0 pl-4">
          {% assign kill_list_json = page.kill-list | parse_json %}
          {% for kill in kill_list_json %}
            <li>Killed <strong>"{{ kill.killed }}"</strong> while piloting <strong>"{{ kill.killer }}"</strong> 
              <ul>
                <li>Date: {{ kill.date }}</li>
                {% if kill.missionName != '' %}
                  <li>Mission: {{ kill.missionName }}</li>
                {% endif %}
                {% if kill.scenarioName != '' %}
                  <li>Scenario: {{ kill.scenarioName }}</li>
                {% endif %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </div>
        </div>
      </div>
      <hr>
      {% endif %}

      {% if page.medical-count %}
      <div class="row">
        <div class="col">
          <div class="container">
          <h3>Medical Log</h3>
          <ul class="mb-0 pl-4">
          {% assign medical_list_json = page.medical-list | parse_json %}
          {% for medLog in medical_list_json %}
            <li><strong>"{{ medLog.desc }}"</strong>
              <ul>
                <li>Date: {{ medLog.date }}</li>
              </ul>
            </li>
          {% endfor %}
          </ul>
        </div>
        </div>
      </div>
      <hr>
      {% endif %}

      <div class="row">
        <div class="col">
          <div class="container">
            {% if content %}
            <h3>Biography</h3>
            {{ content }}
            {% endif %}

            {% assign hasFiction = false %}
            {% for post in site.posts %}
              {% if post.personnel contains page.slug %}
                {% assign hasFiction = true %}
              {% endif %}
            {% endfor %}
            {% if hasFiction %}
              <h5>Related Posts</h5>
              <ul>
              {% for post in site.posts %}
                {% if post.personnel contains page.slug %}
                  <li> <a href="{{ post.url }}">{{ post.title }}, {{ post.date | date_to_long_string }}</a>
                {% endif %}
              {% endfor %}
              </ul>
            {% endif %}

          </div>
        </div>
      </div>
  </main>
  {% include footer.html %}
</body>
</html>
